@import "../../../css/fycons.less";
@import (reference) "/lib/livefyre-bootstrap/src/styles/fycon-chars.less";
@import (reference) "/lib/livefyre-bootstrap/src/styles/mixins.less";

.content-action-expand() {
    .fycon-font-styles();
    .fycon-expand();
    background: none;
    border: 0;
    color: inherit;
    font-size: 16px;
    line-height: 16px;
    padding: 0;
    position: relative;
    top: 2px;
    vertical-align: top;

    &:active {
        opacity: .5;
    }
    &:active:hover {
        color: @lf-green-light;
    }
    &:hover {
        color: @lf-green;
    }
    width: 18px;
    height: 16px;
}
