@import (reference) "../../css/fycons.less";
@import (reference) "lib/livefyre-bootstrap/src/styles/fycon-chars.less";
@import "lib/streamhub-input/src/styles/streamhub-input.less";

.attachment-carousel {

    .carousel-window {
        overflow: hidden;
    }

    .oembed {
        .content-attachment {
            .content-attachment-video > iframe {
                border: none;
            }
        }
    }

    .carousel-attachment-list {
        width: 100%;
        height: 80px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: rgba(0, 0, 0, 0.7);

        .hide {
            visibility: hidden;
        }

        .attachment-carousel-left-arrow, .attachment-carousel-right-arrow {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-top: 32px;
            cursor: pointer;
        }

        .carousel-window {
            display: inline-block;
            width: ~'calc(100% - 44px)';
            height: 100%;

            .content-attachments-stacked {
                margin-top: 0px!important;
            }
        }

        .oembed {
            display: inline-block;
            width: 80px;
            height: 80px;
            margin-right: 10px;

            .content-attachment {
                width: 100%;
                height: 100%
            }

            .content-attachment-video {
                iframe {
                    border: none;
                    width: 100%;
                    height: 100%;
                }
                video {
                    width: 100%;
                }
            }
        }

        .attachment-carousel-left-arrow {
            display: inline-block;
            float: left;
        }

        .attachment-carousel-right-arrow {
            display: inline-block;
            float: right;
        }

        .attachment-carousel-left-arrow:before {
            font-family: "fycons-@{fycon-font-version}";
            content: "\e017";
        }

        .attachment-carousel-right-arrow:before {
            font-family: "fycons-@{fycon-font-version}";
            content: "\e018";
        }
    }
}
