<div class="content-attachments-gallery">
    <div class="content-attachments-focused"></div>
    <div class="content-attachments-thumbnails"></div>
</div>
<div class="content-attachments-tiled"></div>
<div class="content-attachments-stacked"></div>
