{{#navigationEnabled}}
    <a href="javascript:void(0)" class="hub-modal-arrow-left" role="button" aria-label="Navigate modal to previous content"></a>
{{/navigationEnabled}}
<div class="content-container"></div>
{{#navigationEnabled}}
    <a href="javascript:void(0)" class="hub-modal-arrow-right" role="button" aria-label="Navigate modal to next content"></a>
{{/navigationEnabled}}
