{{#navigationEnabled}}
    <a class="hub-modal-arrow-left"></a>
{{/navigationEnabled}}
<div class="content-container"></div>
{{#navigationEnabled}}
    <a class="hub-modal-arrow-right"></a>
{{/navigationEnabled}}
