<div class="attachment-carousel-left-arrow" tabindex="0" role="button" aria-label="Navigate to previous media thumbnail"></div>
<div class="carousel-window">
    <div class="content-attachments-stacked"></div>
</div>
<div class="attachment-carousel-right-arrow" tabindex="0" role="button" aria-label="Navigate to next media thumbnail"></div>
