<div class="content-header-inner">
    {{#author.avatar}}
        <a class="content-author-avatar" {{#authorAvatarUrl}}href="{{authorAvatarUrl}}" target="_blank"{{/authorAvatarUrl}}>
            <img src="{{ author.avatar }}" />
        </a>
    {{/author.avatar}}

    <div class="content-byline">
        {{#contentSourceUrl}}
            <a class="content-source-logo" {{#contentSourceUrl}}href="{{contentSourceUrl}}" target="_blank"{{/contentSourceUrl}}></a>
        {{/contentSourceUrl}}
        {{^contentSourceUrl}}
            <span class="content-source-logo"></span>
        {{/contentSourceUrl}}

        <div class="content-author-name">
            {{#authorUrl}}
                <a href="{{ authorUrl }}" target="_blank">{{ author.displayName }}</a>
            {{/authorUrl}}
            {{^authorUrl}}
                <span>{{ author.displayName }}</span>
            {{/authorUrl}}
        </div>
        {{#authorVerified}}
            <span class="content-author-verified"></span>
        {{/authorVerified}}
        {{#authorUserName}}
            {{#authorUrl}}
                <div class="content-author-username">
                    <a href="{{authorUrl}}" target="_blank">{{authorUserNamePrefix}}{{ authorUserName }}</a>
                </div>
            {{/authorUrl}}
        {{/authorUserName}}
    </div>
</div>
