<div class="content-byline">
    {{#contentSourceTooltipUrl}}
        <a class="hub-tooltip-link tooltip-{{contentSourceName}} content-source-logo" {{#contentSourceTooltipUrl}}href="{{contentSourceTooltipUrl}}" target="_blank"{{/contentSourceTooltipUrl}} {{#contentSourceTooltipText}}title="{{contentSourceTooltipText}}"{{/contentSourceTooltipText}}></a>
    {{/contentSourceTooltipUrl}}
    {{^contentSourceTooltipUrl}}
        <span class="content-source-logo"></span>
    {{/contentSourceTooltipUrl}}
    {{#authorUrl}}
        <a class="content-author-name" href="{{ authorUrl }}" target="_blank">{{ author.displayName }}</a>
    {{/authorUrl}}
    {{^authorUrl}}
        <div class="content-author-name">
            <span>{{ author.displayName }}</span>
        </div>
    {{/authorUrl}}
    {{#authorUserName}}
        {{#authorUrl}}
            <div class="content-author-username">
                <a href="{{authorUrl}}" target="_blank">{{authorUserNamePrefix}}{{ authorUserName }}</a>
            </div>
        {{/authorUrl}}
    {{/authorUserName}}
</div>
