{{#title}}
    {{#feedUrl}}
        <a href="{{ feedUrl }}" target="_blank" class="content-body-title">
            <strong>{{{ title }}}</strong>
        </a>
    {{/feedUrl}}
    {{^feedUrl}}
        <p class="content-body-title"><strong>{{{ title }}}</strong></p>
    {{/feedUrl}}
{{/title}}

<div class="content-body-main">
    {{{ body }}} 
    {{#truncated}}
        <button type="button" class= "content-body-show-more">{{{ showMoreText }}}</button>
    {{/truncated}}
</div>

{{#featured}}
    <div class="content-featured">{{{ featuredText }}}</div>
{{/featured}}
