<div class="content-header">
    <div class="content-header-inner">
        {{#author.avatar}}
            <a class="content-author-avatar" {{#authorAvatarUrl}}href="{{authorAvatarUrl}}" target="_blank"{{/authorAvatarUrl}}>
                <img src="{{ author.avatar }}" />
            </a>
        {{/author.avatar}}
        <div class="content-byline">
            {{#contentSourceTooltipUrl}}
                <a class="hub-tooltip-link tooltip-{{contentSourceName}} content-source-logo" {{#contentSourceTooltipUrl}}href="{{contentSourceTooltipUrl}}" target="_blank"{{/contentSourceTooltipUrl}} {{#contentSourceTooltipText}}title="{{contentSourceTooltipText}}"{{/contentSourceTooltipText}}></a>
            {{/contentSourceTooltipUrl}}
            {{^contentSourceTooltipUrl}}
                <span class="content-source-logo"></span>
            {{/contentSourceTooltipUrl}}
            {{#authorUrl}}
                <a class="content-author-name" href="{{ authorUrl }}" target="_blank">{{ author.displayName }}</a>
            {{/authorUrl}}
            {{^authorUrl}}
                <span class="content-author-name">{{ author.displayName }}</span>
            {{/authorUrl}}
            {{#authorUserName}}
                {{#authorUrl}}
                    <a class="content-author-username" href="{{authorUrl}}" target="_blank">{{authorUserNamePrefix}}{{ authorUserName }}</a>
                {{/authorUrl}}
            {{/authorUserName}}
        </div>
    </div>
</div>

<div class="content-attachments"></div>

<div class="content-body">
	{{{ body }}}
</div>

{{#featured}}
    <div class="content-featured">Featured</div>
{{/featured}}

<div class="content-footer">
    <div class="content-footer-left"></div>
    <div class="content-footer-right">
        {{#formattedCreatedAt}}
            <div class="content-created-at">
                {{#createdAtUrl}}
                <a href="{{createdAtUrl}}" target="_blank">
                {{/createdAtUrl}}
                {{{formattedCreatedAt}}}
                {{#createdAtUrl}}
                </a>
                {{/createdAtUrl}}
            </div>
        {{/formattedCreatedAt}}
    </div>
</div>
