<div class="content-header">
    <div class="content-header-inner">
        {{#author.avatar}}
            <a class="content-author-avatar">
                <img src="{{ author.avatar }}" />
            </a>
        {{/author.avatar}}
        <div class="content-byline">
            <a class="tooltip-link content-source-logo" href="https://twitter.com/statuses/{{tweetId}}/" target="_blank" title="View on Facebook"></a>
            <div class="content-author-name">
                <a href="{{author.profileUrl}}" target="_blank">{{ author.displayName }}</a>
            </div>
            <a class="content-author-username" href="" target="_blank">userurl</a>
        </div>
    </div>
</div>

<div class="content-attachments">
    {{#attachments}}
        <div class="content-attachment">
            <div class="content-attachment-frame"></div>
            {{{renderAttachment}}}
        </div>
    {{/attachments}}
</div>

<div class="content-body">
    {{{ body }}}
</div>

<div class="content-meta">
    {{#formattedCreatedAt}}
    <div class="content-created-at"><!--{{{formattedCreatedAt}}}-->2h</div>
    {{/formattedCreatedAt}}
</div>
