<div class="media-mask-container">
    <p>This embedded content is from a site that may not comply with the Do Not Track (DNT) setting now enabled on your browser.</p>
    <p>Please note, if you click through and view it anyway, you may be tracked by the website hosting the embed.</p>
    <p><a href="https://www.adobe.com/go/lf_gdpr" target="_blank">Learn More about Adobe&#39;s DNT policy</a></p>
    <span class="show-embed">Show</span>
</div>
