<div class="media-mask-container">
    <p>This embedded content is from a site that may not support the current privacy settings in your browser that you have enabled for the site hosting the embedded content.</p>
    <p>Please note, if you elect to click through and view it anyway, you may be tracked by the site hosting the embedded content.</p>
    <span class="show-embed">Show</span>
</div>
