<div class="content-attachment">
    <div class="content-attachment-frame"></div>
    <div class="content-attachment-photo">
        <div class="content-attachment-controls content-attachment-controls-play"></div>
        <div class="content-attachment-audio-thumbnail fycon-audiowave"></div>
    </div>
    <div class="content-attachment-audio {{#isAudioTag}}content-attachment-audio-tag{{/isAudioTag}} fycon-audiowave"></div>
</div>
