<div class="content-attachment">
    <div class="content-attachment-frame"></div>
    <div class="content-attachment-photo" style="background-image: url('{{{ url }}}');" tabindex="0" role="button" aria-label="Open attached photo">
        <img class="content-attachment-actual-image" src="{{{ url }}}" alt="{{ title }}"/>
    </div>
</div>
