<audio autoplay controls>
    <source src="{{url}}" type="{{type}}">
    <p>Your browser does not support HTML5 audio, but you can still <a href="{{url}}" target="_blank">download the audio</a>.</p>
</audio>
