<div class="content-attachment">
    <div class="content-attachment-frame"></div>
    <div class="content-attachment-photo" style="background-image: url({{{ thumbnail_url }}});">
        <a class="content-attachment-controls content-attachment-controls-play" href="#"></a>
        <img src="{{{ thumbnail_url }}}"/>
    </div>
</div>
