<a href="{{ productUrl }}" aria-label="{{ aria }}" target="_blank">
  {{#productDetailTitleShow}}
    <span class="product-name" title="{{ product.title }}">{{ product.title }}</span>
  {{/productDetailTitleShow}}
  {{#productDetailPriceShow}}
    <span class="product-price" title="{{ product.price }}">{{ product.price }}</span>
  {{/productDetailPriceShow}}
  <span class="buy-button">{{ productButtonText }}</span>
</a>
