{{#productDetailPhotoShow}}
  <a href="{{ productUrl }}" target="_blank">
    <img class="product-media" src="{{ product.oembed.url }}" alt="{{ product.oembed.title }}"></img>
  </a>
{{/productDetailPhotoShow}}
{{#productDetailTitleShow}}
  <div class="product-name">{{ product.title }}</div>
{{/productDetailTitleShow}}
{{#productDetailPriceShow}}
  <div class="product-price">{{ product.price }}</div>
{{/productDetailPriceShow}}
<a class="buy-button" href="{{ productUrl }}" target="_blank">{{ productButtonText }}</a>
