{{#productCarouselTitleShow}}
  <div class="product-carousel-header">
    {{ productCarouselTitleText }}
  </div>
{{/productCarouselTitleShow}}
<div class="product-carousel-container">
  <div class="product-carousel-left">
    <div class="product-arrow"></div>
  </div>
  <div class="product-carousel-body"></div>
  <div class="product-carousel-right">
    <div class="product-arrow"></div>
  </div>
</div>
