<div class="content-header-inner">
    <!--{{#contentSourceUrl}}
        <a class="content-source-logo" href="{{contentSourceUrl}}" target="_blank" {{#contentSourceTooltipText}}aria-label="{{contentSourceTooltipText}}"{{/contentSourceTooltipText}}></a>
    {{/contentSourceUrl}}
    {{^contentSourceUrl}}
        <span class="content-source-logo" {{#contentSourceName}}aria-label="{{contentSourceName}} icon"{{/contentSourceName}}></span>
    {{/contentSourceUrl}}-->
    {{#showProduct}}
        {{#productIndicationShow}}
            <span class="product-shop-button">{{productIndicationText}}</span>
        {{/productIndicationShow}}
    {{/showProduct}}
</div>
