{{#productCarouselTitleShow}}
  <div class="product-carousel-header">
    {{ productCarouselTitleText }}
  </div>
{{/productCarouselTitleShow}}
<div class="product-carousel-body">
  <div class="product-carousel-left-arrow"></div>
  <div class="product-carousel-list"></div>
  <div class="product-carousel-right-arrow"></div>
</div>
