<div class="content-header-inner">
    <div class="content-byline">
        {{#contentSourceTooltipUrl}}
            <a class="hub-tooltip-link tooltip-{{contentSourceName}} content-source-logo" {{#contentSourceTooltipUrl}}href="{{contentSourceTooltipUrl}}" target="_blank"{{/contentSourceTooltipUrl}} {{#contentSourceTooltipText}}title="{{contentSourceTooltipText}}"{{/contentSourceTooltipText}}></a>
        {{/contentSourceTooltipUrl}}
        {{^contentSourceTooltipUrl}}
            <span class="content-source-logo"></span>
        {{/contentSourceTooltipUrl}}

        {{#displayNameLink}}
            <a class="content-author-name" href="{{ displayNameLink }}" target="_blank">{{ displayName }}</a>
        {{/displayNameLink}}
        {{^displayNameLink}}
            <div class="content-author-name">{{ displayName }}</div>
        {{/displayNameLink}}

        {{#viaText}}
            <div class="content-author-username">via {{ viaText }}</div>
        {{/viaText}}
    </div>
</div>
