<div class="content-header-inner">
    <div class="content-byline">
        {{#displayNameLink}}
            <div class="content-author-name">
                <a href="{{ displayNameLink }}" target="_blank" aria-label="{{ author.displayName }} profile">{{ displayName }}</a>
            </div>
        {{/displayNameLink}}
        {{^displayNameLink}}
            <div class="content-author-name">{{ displayName }}</div>
        {{/displayNameLink}}

        {{#viaText}}
            <div class="content-author-username">via {{ viaText }}</div>
        {{/viaText}}

        {{#contentSourceUrl}}
            <a class="content-source-logo" {{#contentSourceUrl}}href="{{contentSourceUrl}}" target="_blank" {{#contentSourceTooltipText}}aria-label="{{contentSourceTooltipText}}"{{/contentSourceTooltipText}}{{/contentSourceUrl}}>
                {{#favicon}}
                    <img class="content-source-logo" src="{{ favicon }}" alt="{{ contentSourceName }} icon"/>
                {{/favicon}}
                {{^favicon}}
                    <span class="content-source-logo" aria-label="{{ contentSourceName }} icon"></span>
                {{/favicon}}
            </a>
        {{/contentSourceUrl}}
        {{^contentSourceUrl}}
            {{#favicon}}
                <img class="content-source-logo" src="{{ favicon }}" alt="{{ contentSourceName }} icon"/>
            {{/favicon}}
            {{^favicon}}
                <span class="content-source-logo" aria-label="{{ contentSourceName }} icon"></span>
            {{/favicon}}
        {{/contentSourceUrl}}
    </div>
</div>
