<div class="content-header-inner">
    <div class="content-byline">
        {{#favicon}}
            <img src="{{ favicon }}"/>
        {{/favicon}}
        {{^favicon}}
            <span class="content-source-logo"></span>
        {{/favicon}}

        {{#displayNameLink}}
            <a class="content-author-name" href="{{ displayNameLink }}" target="_blank">{{ displayName }}</a>
        {{/displayNameLink}}
        {{^displayNameLink}}
            <div class="content-author-name">{{ displayName }}</div>
        {{/displayNameLink}}

        {{#viaText}}
            <div class="content-author-username">via {{ viaText }}</div>
        {{/viaText}}
    </div>
</div>
